html, body, .nav, .main, #pic-viewer, .region-top, .img-full-view, .gallery-thumbnail-active, .sub-nav, .sub-work-link, .sub-work, .sub-work-thumb, .sub-category, .top-half {display: flex; justify-content: center; align-items: center; padding:0; margin:0;}

html{
    background: rgb(26,26,30);
    font-family: 'Quicksand', sans-serif;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    color: #ffffff;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}
body{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background: rgb(26,26,30);
}
.top-half{
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
}
.region-top{
    background: rgb(14,14,18);
    width: 100%;
}
.nav
{
    background: rgb(14,14,18);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1.0);
    transition: 0.3s;
}
.nav-btns,.nav-btns-active
{
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1.0);
    transition: 0.3s;
}
.nav-btns:hover{
    cursor: default;
    background-color: rgba(0,0,0,0.5);
}
.nav-btns-active
{
    cursor: default;
    background-color: rgba(0,0,0,0.5);
}
.nav-btns-small
{
    height: 50px;
}
.btn-svg
{
    width: 100px;
    transition: width 0.3s;
}
.btn-svg-small
{
    width: 50px;
}
.logo-big
{
    width: 200px;
    transition: width 0.3s;
}
.logo-small
{
    width: 100px;
}
.main
{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    background: rgb(26,26,30);
    padding-top: 300px;
}
h5
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(14,14,18);
    background: linear-gradient(180deg, rgba(14,14,18,1) 0%, rgba(46,50,53,0.5) 100%); 
    border-radius: 5px;
    padding: 10px;
    margin: 7px 0px 0px 0px;
}
h2
{
    cursor: default;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2e3235;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
h3
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin:10px;
    border-radius: 5px;
}
h4
{
    font-weight: normal;
    cursor: default;
    font-size: 10pt;
    margin: 0px 10px 10px 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e3235;
    padding: 5px;
    border-radius: 5px;
}
.sub-body
{
    width: 600px;
    height: 100%;
}
.sub-body-p
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.sub-nav
{
    width: 0px;
    height: 0px;
    flex-direction: column;
    position: relative;
    top: 140px;
    left: -360px;
}
.sub-link, .sub-link-active
{
    color: #2e3235;
    font-size: 24pt;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(0,0,0,0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1.0);
    transition: 0.1s;
}
.sub-link:hover
{
    color: #4d5256;
}
.sub-link-active
{
    color: #ffffff;
    background: rgba(0,0,0,0.7);
}
.sub-work, .sub-about
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1.0);
}
.sub-about
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../img/city.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sub-work-main
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.sub-work-thumb
{
    margin: 10px 10px 10px 0px;
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
    padding: 10px;
    height: 100%;
}
.sub-work-body, .sub-work-tags
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sub-work-tags
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
.sub-work-desc
{
    margin: 10px 10px 10px 0px;
    width: 100%;
}
.sub-work-link, .sub-social-link
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    cursor: default;
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
    width: 100%;
    height: 40px;
    transition: 0.2s;
}
.sub-social-link
{
    width: 100px;
    margin-right: 10px;
}
.sub-work-gallery
{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.sub-work-link:hover, .sub-social-link:hover
{
    background: rgba(255,255,255,0.2);
}
.sub-socials
{
    display: flex;
    flex-direction: row;
}
.sub-notice
{
    font-size: 10pt;
    color: #4d5256;
    margin-top: 10px;
}
.sub-divider
{
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.4);
}
img
{
    display: block;
}
.img-thumbnail
{
    border-radius: 5px;
}
.gallery-thumbnail
{
    border-radius: 5px;
    margin-right: 5px;
    transition: 0.3s;
    position: relative;
    border: 2px solid rgba(0,0,0,0.4);
}
.gallery-thumbnail-active
{
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 100%);
    position: absolute;
    top: 0;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s;
}
.gallery-thumbnail-active:hover
{
    opacity: 1.0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1.0);
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 100%);
}
.divider
{
    width: 100%;
    height: 3px;
    margin: 25px 0px 20px 0px;
    background: rgba(0,0,0,0.2);
}
.img-contact
{
    float: left;
    width: 100px;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.3s;
    position: relative;
    border: 2px solid rgba(0,0,0,0.4);
}
.img-full-view
{
    width: 50%;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1.0);
}
.img-full-view-src
{
    width: 100%;
    min-width: 500px;
    border-radius: 10px;
    margin: 20px;
}
#pic-viewer
{
    position: fixed;
    width: 100%;
    min-width: 500px;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);
}
.body-work-type
{
    display: none;
}


.key-red{fill:red;transition: .3s;}
.key-orange{fill:orange;transition: .3s;}
.key-yellow{fill:yellow;transition: .3s;}
.key-lime{fill:lime;transition: .3s;}
.key-turquoise{fill:#00ff85;transition: .3s;}
.key-lightblue{fill:#00fff2;transition: .3s;}
.key-blue{fill:blue;transition: .3s;}
.key-violet{fill:#5700ff;transition: .3s;}
.key-purple{fill:#a700ff;transition: .3s;}
.key-pink{fill:#ff00e1;transition: .3s;}
.key-hotpink{fill:#ff0086;transition: .3s;}

.switch-gray{fill:#4d5256;transition: .3s;}
.contact-white{fill:#b6b6b6;transition: .3s;}